/* Universal select for fonts, padding, and margin =0 */
*{
    font-family: 'Noto Sans Osmanya', sans-serif;
    margin: 0;
    padding: 0;
}

/* for this is whole Nav Bar */
.nav-bar{
    padding: 1.5%;
    background-color: lightgray;
    width: fit-content;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: fixed;
}

/* For this is Nav Bar Icon */
#nav-icon{
    margin-left: 90%;
    padding-top: 10%;
    cursor: pointer;
}

#clg-icon{
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: 0.1s;
    color: black;
}

#clg-icon:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
     padding: 8% 0%;
}

/* For this is Whole Nav Bar <ul> represent and edit */
.nav-bar ul{
    margin-left: 3%;
    margin-top: 10%;
    text-align: justify;
}

/* For this is Whole Nav Bar <li> represent and edit */
.nav-bar li{
    list-style-type: none;
    padding: 9% 6%;
    font-weight: 500;
}

/* For this is <a> edit */
.nav-bar ul a{
    text-decoration: none;
    color: black;
}

/* For this is Nav Bar Active Status edit */
.active{
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    border: 2px solid palevioletred;
}

/* For this is Nav Bar while Un-active hover Status edit */
.unactive:hover{
    background-color: #555;
    color: white;
    border-radius: 5px;
}

.top-nav-bar{
    position: fixed;
    padding: 20px;
    width: 100%;
    z-index: 1;
    height: auto;
    background-color: #555;
    border-radius: 5px;
 }

 .top-nav-bar input{
    margin-left: 18%;
    height: 2%;
    padding: 10px 10px;
    width: 30%;
    border-radius: 5px;
    border: lightgray 1px solid;
    font-weight: 100;
    font-size:medium;
 }

 .top-nav-bar input:hover{
    border: black 1px solid;
 }

.top-nav-bar .web-button{
    margin-left: 25%;
 } 

.btn-sign, .btn-login{
margin: 0 10px;
padding: 8px 15px;
border: none;
border-radius: 20px;
cursor: pointer;
 }

 .btn-sign:hover, .btn-login:hover{
    background: linear-gradient(to left, #555, black);
    color: white;
    text-decoration: underline;
    border: 1.90px solid palevioletred;
    transition: 1s;
 }

 .privacy-content{
    margin-left: 20%;
    padding: 20px;
 }

 .privacy-content .privacy-head{
    margin-top: 15%;
    margin-bottom: 8%;
    font-size: 85px;
    letter-spacing: 3px;
 }

 .privacy-content .privacy-head-para{
    width: 90%;
    text-align: justify;
    word-spacing: 7px;
    font-size: 25px;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-top: 5%;
    line-height: 40px;
 }

.privacy-policy-ol{
    font-size: 80px;
    letter-spacing: 2px;
    margin-bottom: 5%;
}

.p-policy-h2-contents{
    margin: 5% 0;
    font-size: 50px;
}

.p-policy-li-para-contents{
    text-decoration: none;
    width: 80%;
    line-height: 35px;
    margin-left: 5%;
    font-size: larger;
}

.privacy-content li{
    font-size: 25px;
    padding: 10px 0;
    list-style-type: none;
    font-weight: bolder;
}

.policy-contact-div{
    margin-left: 5%;
}

.policy-contact-div li{
    text-decoration: underline;
    display: inline-block;
}

.policy-contact-div a{
    text-decoration: none;
    color: black;
}

.policy-contact-div a:hover{
    color: blue;
}

.footer{
    font-size: 20px;
    color: white;
    background: linear-gradient(to right, #555, black, #555);
    height: 100px;
    width: 100%;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    color: grey;
}

.footer p{
    padding: 40px 0;
    margin-left: 35%;
}